DROPDOWN    ICON    "Resource\\DROPDOWN.ico"
FIND    ICON    "Resource\\FIND.ico"
LOOKUP    ICON    "Resource\\LOOKUP.ico"
FOLD    ICON    "Resource\\FOLD.ico"
NEW    ICON    "Resource\\NEW.ico"
OPEN    ICON    "Resource\\OPEN.ico"
DATETIME    ICON    "Resource\\DATETIME.ico"
