SAVE    ICON    "Resources\\SAVE.ICO"
PRINT    ICON    "Resources\\PRINT.ICO"
UNDO    ICON    "Resources\\UNDO.ICO"
REDO    ICON    "Resources\\REDO.ICO"
BOLD    ICON    "Resources\\BOLD.ICO"
ITALIC    ICON    "Resources\\ITALIC.ICO"
UNDERLINE    ICON    "Resources\\UNDERLINE.ICO"
STRIKE    ICON    "Resources\\STRIKE.ICO"
SUPERSCRIPT    ICON    "Resources\\SUPERSCRIPT.ICO"
SUBSCRIPT    ICON    "Resources\\SUBSCRIPT.ICO"
RIGHTIDENT    ICON    "Resources\\RIGHTIDENT.ICO"
LEFTIDENT    ICON    "Resources\\LEFTIDENT.ICO"
ALIGNLEFT    ICON    "Resources\\ALIGNLEFT.ICO"
ALIGNCENTER    ICON    "Resources\\ALIGNCENTER.ICO"
ALIGNRIGHT    ICON    "Resources\\ALIGNRIGHT.ICO"
ALIGNJUSTIFY    ICON    "Resources\\ALIGNJUSTIFY.ICO"
ALIGNSCATTER    ICON    "Resources\\ALIGNSCATTER.ICO"
LINESPACE    ICON    "Resources\\LINESPACE.ICO"
FILE    ICON    "Resources\\FILE.ICO"
